/*   Theme default css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ======font family=========
 font-family: 'Montserrat', sans-serif; 
*/

body {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

a,
button {
    color: inherit;
    outline: medium none;
    text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.pb_150 {
    padding-bottom: 150px;
}

.pb_100 {
    padding-bottom: 100px;
}

.pb_50 {
    padding-bottom: 50px;
}

.pt_150 {
    padding-top: 150px;
}

.pt_100 {
    padding-top: 100px;
}

.pt_50 {
    padding-top: 50px;
}

.mb_150 {
    margin-bottom: 150px;
}

.mb_100 {
    margin-bottom: 100px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mt_150 {
    margin-top: 150px;
}

.mt_100 {
    margin-top: 100px;
}

.mt_50 {
    margin-top: 50px;
}

.thm_btn {}


/* default-css END 
================================== */

.container {
    max-width: 1230px;
}

.CS_Project {
    padding-bottom: 100px;
    position: relative;
}

.CS_Project:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 400px;
    background-image: url(../img/bg.svg);
    z-index: -1;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

i.bg-color {}

.csp_top {
    text-align: center;
    margin-bottom: 70px;
    position: relative;
    padding: 20px;
    background: linear-gradient(45deg, #355191, #7DAEDE);
    width: 100%;
}

.csp_top:before {
    content: "";
}

.csp_top h2 {
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}

.sec_title {
    margin-bottom: 30px;
}

.col-lg-6 {}

.card_blk {
    display: block;
    width: 100%;
    margin: 40px auto 0;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 7px 10px 15px 0px rgb(0 0 0 / 16%);
}

a.card_blk i {
    display: block;
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}

a.card_blk:hover p {
    opacity: 1;
    transform: unset;
}

a.card_blk ul li {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: .3s;
}

a.card_blk ul li:hover {
    opacity: .5;
}

a.card_blk h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

a.card_blk h2 {}

.card_blk_cont {
    padding: 20px 40px 10px;
    position: relative;
}

.card_blk_cont p {
    width: max-content;
    font-size: 20px;
    font-weight: 700;
    margin-left: auto;
    transform: translateX(50px);
    transition: all .3s ease-in-out;
    opacity: 0;
    text-transform: uppercase;
}

a.card_blk i img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


/* small screen :320px. */

@media (max-width: 767px) {
    .container {
        max-width: 450px;
    }
    .CS_Project {
        padding-bottom: 50px;
    }
    .csp_top h2 {
        font-size: 22px;
    }
    .csp_top {
        margin-bottom: 40px;
    }
    .sec_title h1 {
        font-size: 30px;
    }
    .sec_title {
        margin-bottom: 0;
    }
    .card_blk_cont {
        padding: 15px;
    }
    a.card_blk h3 {
        font-size: 20px;
    }
    a.card_blk ul li {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .card_blk_cont p {
        margin-bottom: 0;
        font-size: 16px;
    }
}